daetools-2.6.0-win64/
**/*pyc*
typings/
pyrightconfig.json
.venv/

Barin_Extraction/Thermochemical Data of Pure Substances - 1995 - Barin.pdf

.vscode/settings.json
packed_bed/examples/*
!packed_bed/examples/default_case/
packed_bed/examples/default_case/*
!packed_bed/examples/default_case/*.yaml
!packed_bed/examples/default_batch_case/
!packed_bed/examples/default_batch_case/**/
!packed_bed/examples/default_batch_case/**/*.yaml
packed_bed/examples/default_batch_case/output/

OpenCL/
OpenCS-2.6.0/

transitive_validation/**

