daetools-2.6.0-win64/
reference_material/
**/*pyc*
typings/
pyrightconfig.json
.venv/
.pytest_cache/
*.egg-info/
build/
**/.packed_bed_cache/
dist/
desktop/vendor/graphviz/
desktop/vendor/compiled/

Barin_Extraction/Thermochemical Data of Pure Substances - 1995 - Barin.pdf

.vscode/settings.json
examples/simulations/**/output*/

active_learning_optimization
alex_repro

untracked/
OpenCL/
OpenCS-2.6.0/

transitive_validation/**
